/* 
Title:      Toggle Switch
URL:        http://github.com/jamiebicknell/Toggle-Switch
Author:     Jamie Bicknell
Twitter:    @jamiebicknell
*/

.switch {
    position:relative;
    width:37px;
    height:16px;
    overflow:hidden;
    cursor:pointer;
}
.switch .overlay {
    position:absolute;
    top:0;
    left:0;
    width:48px;
    height:50px;
    background:url('https://cloud.githubusercontent.com/assets/179496/12762798/d989c1fc-c9a5-11e5-9e80-ba5dd2b0f2bb.png') no-repeat 0 0;
    z-index:9;
}
.switch span.switched {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:93px;
    height:50px;
    background:#d9d9d9 url('https://cloud.githubusercontent.com/assets/179496/12762390/c7c70440-c9a3-11e5-9187-dfe17e4d8559.jpg') no-repeat 0 0;
    z-index:8;
}
.switch span.off {
    left:-21px;
}
.switch input {
    display:none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .switch .overlay {
        background:url('./overlay@2x.png') no-repeat 0 0;
        background-size:37px 16px;
    }
    .switch span.switched {
        background:url('./switch@2x.gif') no-repeat 0 0;
        background-size:58px 16px;
    }
}
