
.strip {
  background-color: rgba(255, 255, 255, 0.0);

  border-left: 4px solid transparent;

  list-style-type: none;
  position: relative;
  padding: 1px 1px;
  margin-bottom: 2px;
  margin-left: 3;
  margin-right: -3px;

  transition: margin-left 0.1s ease, margin-right 0.1s ease, background-color 0.05s ease, box-shadow 0.05s ease;
}

.strip:hover {
  background-color: rgba(60, 60, 60, 1.0);
  cursor: pointer;
}

.strip.active {
-webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);

/*  margin-left: -5px;
    margin-right: 5px; */
}

.strip.arrival {

background: rgba(0,0,0,1);
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(187,53,55,1) 63%, rgba(145,39,40,1) 69%, rgba(117,32,33,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(60%, rgba(0,0,0,1)), color-stop(63%, rgba(187,53,55,1)), color-stop(69%, rgba(145,39,40,1)), color-stop(100%, rgba(117,32,33,1)));
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(187,53,55,1) 63%, rgba(145,39,40,1) 69%, rgba(117,32,33,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(187,53,55,1) 63%, rgba(145,39,40,1) 69%, rgba(117,32,33,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(187,53,55,1) 63%, rgba(145,39,40,1) 69%, rgba(117,32,33,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(187,53,55,1) 63%, rgba(145,39,40,1) 69%, rgba(117,32,33,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#752021', GradientType=1 );

}

.strip.departure {
background: rgba(0,0,0,1);
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 62%, rgba(15,255,255,1) 63%, rgba(49,99,99,1) 69%, rgba(49,99,99,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(62%, rgba(0,0,0,1)), color-stop(63%, rgba(15,255,255,1)), color-stop(69%, rgba(49,99,99,1)), color-stop(100%, rgba(49,99,99,1)));
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 62%, rgba(15,255,255,1) 63%, rgba(49,99,99,1) 69%, rgba(49,99,99,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 62%, rgba(15,255,255,1) 63%, rgba(49,99,99,1) 69%, rgba(49,99,99,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 62%, rgba(15,255,255,1) 63%, rgba(49,99,99,1) 69%, rgba(49,99,99,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 62%, rgba(15,255,255,1) 63%, rgba(49,99,99,1) 69%, rgba(49,99,99,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#316363', GradientType=1 );
}

.strip .aircraft {
  display: block;
  font-style: italic;
}

.strip .heading {
  text-align: center;

  position: absolute;
  padding-right: 5px;
  left: 50%;
  width: 80px;
  margin-left: -40px;
}

.strip .runway {
  color: #8cf;
  font-style: italic;
}

.strip .hold {
  color: #f76;
  font-style: italic;
}

.strip .taxi {
color: #f8e; 
}

.strip .waiting {
  color: #7f6;  
  background-color: rgba(00, 57, 00, 1.0);

}

.strip .altitude {
  text-align: right;

  position: absolute;
  right: 10px;
}

.strip .destination {
  text-align: center;
  color: #8cf;

  position: absolute;
  padding-right: 5px;
  left: 50%;
  bottom: 3px;
  width: 80px;
  margin-left: -40px;
}

.strip .speed {
  text-align: right;

  position: absolute;
  right: 10px;
  bottom: 3px;
}
