


.strip {
  background-color: rgba(255, 255, 255, 0.0);
  border-left: 4px solid transparent;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 10px;

  list-style-type: none;
  position: relative;
  padding: 1px 1px;
  margin-bottom: 2px;
  margin-left: 3;
  margin-right: -3px;

  transition: margin-left 0.1s ease, margin-right 0.1s ease, background-color 0.05s ease, box-shadow 0.05s ease;
}

.strip:hover {

  -webkit-box-shadow: inset 0px 0px 6px 0px rgba(43,255,0,1);
  -moz-box-shadow: inset 0px 0px 6px 0px rgba(43,255,0,1);
  box-shadow: inset 0px 0px 6px 0px rgba(43,255,0,1);
  cursor: pointer;
}

.strip.active {

  transform: scale(1.1, 1.3);

  -webkit-box-shadow: outset 0px 0px 10px 0px rgba(255,255,201,1);
  -moz-box-shadow: outset 0px 0px 10px 0px rgba(255,255,201,1);
  box-shadow: outset 0px 0px 10px 0px rgba(255,255,201,1);
 
   margin-left: -5px;
   margin-right: 5px; 
  
  
}

.strip.arrival {

  background: rgba(38,19,19,1);
  background: -moz-linear-gradient(left, rgba(38,19,19,1) 0%, rgba(38,19,19,1) 98%, rgba(222,131,131,1) 99%, rgba(222,131,131,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(38,19,19,1)), color-stop(98%, rgba(38,19,19,1)), color-stop(99%, rgba(222,131,131,1)), color-stop(100%, rgba(222,131,131,1)));
  background: -webkit-linear-gradient(left, rgba(38,19,19,1) 0%, rgba(38,19,19,1) 98%, rgba(222,131,131,1) 99%, rgba(222,131,131,1) 100%);
  background: -o-linear-gradient(left, rgba(38,19,19,1) 0%, rgba(38,19,19,1) 98%, rgba(222,131,131,1) 99%, rgba(222,131,131,1) 100%);
  background: -ms-linear-gradient(left, rgba(38,19,19,1) 0%, rgba(38,19,19,1) 98%, rgba(222,131,131,1) 99%, rgba(222,131,131,1) 100%);
  background: linear-gradient(to right, rgba(38,19,19,1) 0%, rgba(38,19,19,1) 98%, rgba(222,131,131,1) 99%, rgba(222,131,131,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#261313', endColorstr='#de8383', GradientType=1 );

}

.strip.departure {
  
  background: rgba(24,51,51,1);
  background: -moz-linear-gradient(left, rgba(24,51,51,1) 0%, rgba(24,51,51,1) 98%, rgba(130,255,255,1) 99%, rgba(130,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(24,51,51,1)), color-stop(98%, rgba(24,51,51,1)), color-stop(99%, rgba(130,255,255,1)), color-stop(100%, rgba(130,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(24,51,51,1) 0%, rgba(24,51,51,1) 98%, rgba(130,255,255,1) 99%, rgba(130,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(24,51,51,1) 0%, rgba(24,51,51,1) 98%, rgba(130,255,255,1) 99%, rgba(130,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(24,51,51,1) 0%, rgba(24,51,51,1) 98%, rgba(130,255,255,1) 99%, rgba(130,255,255,1) 100%);
  background: linear-gradient(to right, rgba(24,51,51,1) 0%, rgba(24,51,51,1) 98%, rgba(130,255,255,1) 99%, rgba(130,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183333', endColorstr='#82ffff', GradientType=1 );

}

.strip .aircraft {
  display: block;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: italic;
}

.strip .heading {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  padding-right: 5px;
  left: 50%;
  width: 80px;
  margin-left: -40px;
}

.strip .runway {
  color: #8cf;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: italic;
}

.strip .hold {
  color: #f76;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: italic;
}

.strip .taxi {
  color: #f8e; 
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.strip .waiting {
  color: #7f6;  
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background-color: rgba(00, 57, 00, 1.0);

}

.strip .altitude {
  text-align: right;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

  position: absolute;
  right: 10px;
}

.strip .destination {
  text-align: center;
  color: #8cf;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

  position: absolute;
  padding-right: 5px;
  left: 50%;
  bottom: 3px;
  width: 80px;
  margin-left: -40px;
}

.strip .speed {
  text-align: right;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

  position: absolute;
  right: 10px;
  bottom: 3px;
}
